.card__noticias {
    margin-top: 50px;
}

.compnoticias__btn {
    background-color: var(--corRoxoUva);
}

.card__tamanho {
    margin-top: 10px;
    margin-bottom: 10px;
}
.noticias__titulo{
    font-size: 22px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.noticias__pag{
    padding: 15px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--corRoxoUva)
}

.noticias__colpag{
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.atual{
    color: var(--corRoxoUva) !important;
}