@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
    --corCinza: #dfe0e4;
    --corBranco: #fff;
    --corPreto: #000;
    --corCinzaClaro: #a5a5a5;
    --corCinzaEscuro: #444444;
    --corRoxoUva: #860ebe;
    --corRoxoUvaClaro: #c049f7;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-family: 'Sora', sans-serif !important;
}


